.booklist {
	padding: 100px 10px;
}

.book {
	width: 200px;
	float: left;
	text-align: center;

	&__title {
		padding: 10px;
	}

	&__thumb {
		width: 150px;
	}

	&__isbn__title {
		margin: 10px 0 0 0;
	}

	&__isbn__code {

	}

	&__price {
		font-size: 30px;
    font-weight: bolder;
	}

	&__add-to-cart {
		background: linear-gradient(to bottom,#30cb00 0%,#269c02 100%);
		color: #FFFFFF;
    //border-color: #000000;
		cursor: pointer;
		width: 150px;
		margin: 20px auto;
		padding: 10px 0;
		text-transform: uppercase;
		border-radius: 10px;

		&:hover {
			background-color: red;
			box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
			-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
			-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.50);
		}
	}
}
