@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?hrvtp');
    src:    url('../fonts/icomoon.eot?hrvtp#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?hrvtp') format('truetype'),
        url('../fonts/icomoon.woff?hrvtp') format('woff'),
        url('../fonts/icomoon.svg?hrvtp#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bitbucket:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e901";
}
.icon-spinner3:before {
    content: "\e902";
}
.icon-linkedin:before {
    content: "\e903";
}

