.nav {
	background-color: #FFFFFF;
	width: 100%;
	height: 60px;
	position: fixed;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);

	&__title {
		text-align: center;
		float: left;
		font-family: 'PT Sans', sans-serif;
		font-weight: 700;
	}

	&__cart {
		float: right;
		padding: 15px;
		font-size: 20px;

		&__icon {
			font-size:15px;
			color: #30cb00;
		}

		&__nb-item {
		}

		&__pipe {
			margin: 0 5px;
		}

		&__price {
			margin: 5px;
		}
	}

}

